// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.caja{
  margin-bottom: 1em;
  width: 200px;
  height: 200px;
  border-radius: 2px solid silver;
  font-size: 25px;
  overflow: auto;
  text-align: center;
  padding-top: 8%;
background-color: #00b0ff;
  display: inline-block;
  margin: 10px 10px;
}

.estilo_letra{

  font-size: 10px;
  color:black !important;

}
