<p id="notice"><%= notice %></p>

<h1>Seleccione una cuenta a administrar</h1>
<p><%= @u %></p>
<% you = Account.all %>
<% you.each do |t| %>
<div class="btn-raised  btn-primary caja">
  <%= link_to t.name, user_account_movements_path(session[:user_id],t.id) %>
  
</div>
<% end %>

<br>


<!--  -->
<br>

<%= link_to 'New Account', new_user_account_path(session[:user_id]) , class:'btn btn-info' %>
